<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Menu gốc -->
        <menuitem
            id="menu_nhan_su"
            name="QLNS"
            sequence="0"
            web_icon="your_module/static/description/icon.png"/>

        <!-- Menu Phòng ban -->
        <menuitem
            id="menu_department"
            name="Phòng ban"
            parent="menu_nhan_su"
            sequence="1"
            action="action_department"/>

        <!-- Menu Nhân viên -->
        <menuitem
            id="menu_employee"
            name="Nhân viên"
            parent="menu_nhan_su"
            sequence="2"
            action="action_employee"/>

    </data>
</odoo>
