<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Menu gốc -->
        <menuitem
            id="menu_root"
            name="QLCV"
            sequence="0"
            web_icon="your_module/static/description/icon.png"/>

        
        <!-- Menu Công việc -->
        <menuitem
            id="menu_task"
            name="Công việc"
            parent="menu_root"
            sequence="2"
            action="action_task"/>
    </data>
</odoo>