<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Menu gốc -->
        <menuitem
            id="menu_root"
            name="QLCV"
            sequence="0"
            web_icon="your_module/static/description/icon.png"/>

        <!-- Menu Quản lý Nhân viên -->
        <menuitem name="Quản lý nhân sự" 
            id="menu_nhan_vien1" 
            parent="menu_root" 
            sequence="1"
            action="action_nhan_vien1"/>

        <!-- Menu Quản lý Nhân viên -->
        <menuitem name="Quản lý Công việc" 
            id="menu_cong_viec" 
            parent="menu_root" 
            sequence="1"
            action="action_cong_viec"/>

        <!-- Menu Quản lý Nhân viên -->
        <menuitem name="Quản lý chi tiết công việc" 
            id="menu_Chi_Tiet_Cong_Viec" 
            parent="menu_root" 
            sequence="1"
            action="action_Chi_Tiet_Cong_Viec"/>
            
        <!-- Menu Quản lý Binh_Luan -->
        <menuitem id="menu_binhluan" name="Bình Luận" action="action_binhluan" parent="menu_cong_viec"/>

        <!-- Menu Quản lý Nhân viên -->
        <menuitem name="Quản lý File" 
            id="menu_File" 
            parent="menu_root" 
            sequence="1"
            action="action_File"/>


    </data>
</odoo>
