<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Menu gốc -->
        <menuitem
            id="menu_root"
            name="QLCV"
            sequence="0"
            web_icon="your_module/static/description/icon.png"/>

        <!-- Menu Quản lý Nhân viên -->
        <menuitem name="Quản lý nhân sự" 
            id="menu_nhan_vien1" 
            parent="menu_root" 
            sequence="1"
            action="action_nhan_vien1"/>

    </data>
</odoo>
